* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  font-size: 1.6rem;
}

.home-bg {
  background-image: url(./imagem/mountains-universe-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.universe {
  background-image: url(./imagem/mountains-universe02.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.exploration {
  background-image: url(./imagem/mountains-universe-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3.2rem;

  padding: 4rem 4rem;
}

a {
  color: #8D8D99;
  text-decoration: none;
  font-size: 2.2rem;
  line-height: 2.2rem;

  transition: 1s;
}

a:hover {
  color: #FFFFFF;
  font-weight: bold;
}

.active {
  color: #FFFFFF;
}

#app {
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  display: grid;
  justify-content: center;
  justify-items: center;
}

h1 {
  color: #E1E1E6;
  font-size: 4.8rem;
  padding: 0 0 0 10rem;
}

.home h1{
  padding: 0;
}

p {
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 400;
  color: #E1E1E6;
  margin-top: 1.6rem;
  width: 64.8rem;
  height: 17.4rem;
  padding: 0 0 0 10rem
}

.home button {
  background-color: transparent;
  width: 22.5rem;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 12px 32px;
  gap: .8rem;

  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2.4rem;
}

.home button a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

button:hover {
  background: #FFFFFF;
  color: #02799d;
  font-weight: 700;
  transform: scale(1.1);
  transition: 0.2s ease-out;
}




